@model idz2.Models.ProcessOutcomes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProcessOutcomes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessOutcomeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessOutcomeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcessOutcomeCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
