@model idz2.Models.ProcessOutcomes

@{
    ViewData["Title"] = "Детали – Результаты процесса";
}

<h1>Детали</h1>

<div>
    <h4>Результаты процесса</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessOutcomeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessOutcomeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcessOutcomeCode">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
