@model idz2.Models.ProcessOutcomes

@{
    ViewData["Title"] = "Редактирование процесса документа";
}

<h1>Редактирование</h1>

<h4>Процессы документа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProcessOutcomeCode" />
            <div class="form-group">
                <label asp-for="ProcessOutcomeDescription" class="control-label"></label>
                <input asp-for="ProcessOutcomeDescription" class="form-control" />
                <span asp-validation-for="ProcessOutcomeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
